body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e4cc; /* Warm beige background */
}

header {
    background-color: #8b9467; /* Muted green background */
    padding: 20px;
    text-align: center;
    color: #fff; /* White text */
    border-bottom: 4px solid #ffd700; /* Golden border */
}

header h1 {
    margin: 0;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: #ffd700; /* Golden text */
}

h4 {
    font-size: 15px;
    color: #ffd700;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #c9c4b5; /* Soft brown background */
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #786c3b; /* Earthy brown text */
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: #ffd700; /* Golden text on hover */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #daff9f; /* White background */
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: #f5f5dc; /* Cream background */
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* White background */
}

.gallery-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}

.gallery-item h3 {
    margin: 0;
    padding: 10px;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    color: #786c3b; /* Earthy brown text */
}

.gallery-item p {
    padding: 10px;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: #333; /* Dark gray text */
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    background-color: #fff; /* White background */
}

.contact-form label {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: #333; /* Dark gray text */
}

.carousel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.carousel {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 10% auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 450px; /* Add a max height to prevent images from being too big */
  border-radius: 10px 10px 10px 10px;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
  background-color: #98b300;
}

.carousel-next {
  right: 10px;
  background-color: #98b300;
}

.carousel-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #b30000;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.available {
    color: green;
    font-weight: bold;
}

.unavailable {
    color: red;
    font-weight: bold;
}

.gallery-item p.available {
    color: green !important;
}

.gallery-item p.unavailable {
    color: red !important;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}